@model SkillsDashboard.Models.TestUserViewModelCollection
@{
    ViewBag.Title = "Index";
}

<h2>Test Users Collection</h2>

@if(Model!=null && Model.Count > 0)
{
    foreach (var user in Model)
    {
        <div class="row">
            User ID : @user.ID;
            <br />
            Name : @user.Name;
            <br />
            Age : @user.Age;
            <br />
            Address : @user.Address;
        </div>
        <br />
    }
}
else
{
    <span>No data available</span>
}
