@model SkillsDashboard.Models.Dashboard

<div class="skill-dashboard-user-profile">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="skill-dashboard-profile-container">
            <div class="skill-dashboard-profile-bg">

            </div>
            <div class="profile-avatar-image">
                <img src="~/Images/avatar_male.png">
            </div>
            <div class="skill-dashboard-profile-description">
                <h5>@Model.UserName</h5>
                <p>@Model.EmailID</p>
            </div>

        </div>
    </div>
</div>
