
@{
    ViewBag.Title = "Index";
}

<h2>Dashboard</h2>

@if(ViewBag.SuccessMessage!=null)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Request has been submitted successfully
    </div>
}

