@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<h2 class="text-danger">OOPS! An error has occured</h2>
<hr />
It appears something went wrong while processing the request. Please contact system administrator. Please @Html.ActionLink("click here","Index","Home") to return to dashboard.



